
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="example-wrapper" style="max-width:400px; margin:0 auto;">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="mb-4 text-center">Connexion</h1>
        <label for="username" class="mb-2">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control mb-3" autocomplete="email" required autofocus>
        <label for="password" class="mb-2">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control mb-3" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-primary w-100 mt-3" type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
