<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Blog TD IPSSI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/article">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category">Categories</a>
                    </li>
                    {%if app.user and 'ROLE_ADMIN' in app.user.roles %} 
                        <li class="nav-item"> 
                            <a class="nav-link" href="/user">Utilisateurs</a> 
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <p class="nav-link">{{ app.user.firstName }} </p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Deconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Connexion</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" href="/register">Inscription</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>